flows/opportunity-mental_health.json
{
  "name": "機會 - 心理健康",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2224,
        768
      ],
      "id": "75b85fca-e522-48b0-b676-8e03d327944b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "title": "=[身心健康] {{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.text }}\n\n![image]({{ $json.refs[0].image }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})\n[{{ $json.refs[0].title }}, {{ $json.refs[0].source }}]({{$json.refs[0].link}})\n[{{ $json.refs[1].title }}, {{ $json.refs[1].source }}]({{$json.refs[1].link}})\n[{{ $json.refs[2].title }}, {{ $json.refs[2].source }}]({{$json.refs[2].link}})",
          "status": "publish",
          "categories": [],
          "tags": [
            6
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2400,
        1216
      ],
      "id": "d66c5370-81ed-4287-9281-d1ee778826b1",
      "name": "Wordpress",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2064,
        944
      ],
      "id": "00089958-c098-4492-b30b-b534eb03a96e",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XvU5udJwsszCQwon",
          "mode": "list",
          "cachedResultUrl": "/workflow/XvU5udJwsszCQwon",
          "cachedResultName": "Deep Research From yahoo trend"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "yahoo-news-url": "={{ $json.url }}"
          },
          "matchingColumns": [
            "yahoo-news-url"
          ],
          "schema": [
            {
              "id": "yahoo-news-url",
              "displayName": "yahoo-news-url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1664,
        720
      ],
      "id": "2f042c3f-a9fb-4a68-aa75-c6707997c7e2",
      "name": "Call 'Research by Yahoo News'",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        1584
      ],
      "id": "cc4356c2-7042-4527-b91f-90899c2e460d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "9AqWOsJ0Nv0k5OkT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3b4bef2-c4b5-4cf6-b41e-4b026c6a2dad",
              "name": "title",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        1392
      ],
      "id": "d81b7319-8d94-4c0e-9231-93822a0141b6",
      "name": "rename"
    },
    {
      "parameters": {
        "content": "https://lazyinwork.com/2026/01/14/%e7%84%a1%e5%81%8f%e8%a6%8b%e5%a0%b1%e5%b0%8e%e5%bd%88%e5%8a%be%e6%a1%88%e8%83%8c%e6%99%af%e3%80%81%e7%88%ad%e8%ad%b0%e3%80%81%e7%a8%8b%e5%ba%8f%e3%80%81%e5%bd%b1%e9%9f%bf%e5%8f%8a%e5%9c%8b%e9%9a%9b/#google_vignette",
        "height": 240,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        960
      ],
      "typeVersion": 1,
      "id": "fa0032e9-b6e4-44ca-ba4e-7eb598541c50",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -592,
        1024
      ],
      "id": "eaef74c2-f0ea-47e7-9425-2a13ce857f03",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=以下是參考內容：\n{{ $json.body[0] }}\n\n以下是次要參考內容：\n{{ $json.refs.toJsonString()}}",
        "messages": {
          "messageValues": [
            {
              "message": "我想針對這則心理健康新聞寫一篇深度分析，給我五個小節標題規劃和編寫策略，聚焦在「對年輕工作者身心健康的實際影響與自我照護建議」，小節之間使用`----`來切割，用markdown格式直接輸出結果給我，不要有其餘內容。\n輸出範例：\n`<小節標題>` 小節標題....\n`<小節摘要>` 小節摘要....\n`<小節核心句子>` 小節核心句子....\n----\n`<小節標題>` 小節標題....\n`<小節摘要>` 小節摘要....\n`<小節核心句子>` 小節核心句子....\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -960,
        576
      ],
      "id": "ce41c03e-0797-4360-bc4f-059ec9f2f8ca",
      "name": "生成文章編輯規劃"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sections",
        "options": {
          "destinationFieldName": "write_prompt"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -480,
        576
      ],
      "id": "dfe70a91-5970-45db-ace3-be88f27f2330",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2112,
        1184
      ],
      "id": "de1c5184-7131-4105-8068-88ffa79a8900",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        832
      ],
      "id": "5df443d7-75fa-45c3-9b46-e800bd867ed6",
      "name": "Merge2"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "write_prompt.text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        848,
        1328
      ],
      "id": "2a9c1791-f0e8-4a23-8481-f3f6995cada7",
      "name": "Summarize"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=以下是編寫大綱：\n{{ $json.write_prompt.toJsonString() }}\n以下是參考內容：\n{{ $json.body[0] }}\n{{ $json.refs.toJsonString() }}",
        "messages": {
          "messageValues": [
            {
              "message": "遵守媒體道德與社會責任原則，基於資料內容，針對心理健康與身心平衡撰寫一篇深度報導。\n\n## 輸出格式：\n請以部落格文風，深入敘述心理健康趨勢，要求資訊真實、來源可信（無需附上網址）。\n\n## 撰寫原則：\n- 內容為字數約在300-500字之間的單一段落，不需分段和分章節\n- **禁止包含任何對話開場、系統說明、產製說明或其他非正文內容**\n- 避免無謂的開場白與結尾語，**直接切入主題**\n- 全文使用**繁體中文**，必要時可加入英文\n- 採用台灣人日常可理解的用語，避免過度專業術語\n- **禁止提供網址**\n- 文章須具備**獨特觀點**，不只是陳述症狀而是給出洞察\n- 以下觀點可強化深度（用敘述方式，維持單一段落）：\n  - **心理健康癥結點：** 哪些結構性因素在惡化身心健康？\n  - **可操作的改善路徑：** 個人層面最有效的具體行動\n  - **系統性 vs 個人責任：** 避免將結構問題個人化\n\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -448,
        1024
      ],
      "id": "c7d9a0f3-29d0-4157-a5e1-011be5e7809d",
      "name": "生成小節"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.concatenated_write_prompt_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "總結重點，給出一個最終的標題(25字內)\n\n## 撰寫原則：\n- 文章將被直接用作爲標題，**禁止包含任何對話開場、系統說明、產製說明或其他非正文內容**\n- 避免無謂的開場白與結尾語，**直接切入主題**\n- 使用**繁體中文**，採用台灣人日常可理解的用語，避免過度專業術語\n- 作為有吸引力的部落格標題，包含重點專有名詞，例如人事物和行為狀態\n\n\n\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1152,
        1408
      ],
      "id": "7a4a54ca-729d-4202-ad58-b8f002399e28",
      "name": "生成文章標題"
    },
    {
      "parameters": {
        "jsCode": "// 取得輸入文字\nconst raw = $json.text ?? $json.content ?? $json.data ?? '';\n\nif (!raw || typeof raw !== 'string') {\n  return [{ json: { error: 'No input text found.' } }];\n}\n\n// 1. 清理 Markdown 標記 (移除開頭的 ```markdown 和結尾的 ```)\n// 同時處理 \\n 的轉換 (視 n8n 上游資料來源而定，有時需要，有時不需要，這裡保留以防萬一)\nlet text = raw.replace(/\\\\n/g, '\\n'); \ntext = text.replace(/^```[a-zA-Z]*\\n?/, '').replace(/\\n?```$/, '').trim();\n\n// 2. 根據 \"----\" 進行切割\n// 使用 Regex 兼容前後可能有換行或空白的情況\nconst blocks = text\n  .split(/\\n\\s*-{4,}\\s*\\n/g)\n  .map(b => b.trim())\n  .filter(Boolean); // 過濾掉空字串\n\n// 3. 定義提取內容的 Helper 函數\nfunction getTagValue(block, tagName) {\n  // Regex 解釋：\n  // <標籤名稱> 接著任意空白 \\s* 接著擷取內容 (.*) 直到行尾\n  const regex = new RegExp(`<${tagName}>\\\\s*(.*)`);\n  const match = block.match(regex);\n  return match ? match[1].replace('`','').trim() : null;\n}\n\n// 4. 解析每一個區塊\nconst sections = blocks.map((block, idx) => {\n  // 提取各欄位\n  const title = getTagValue(block, '小節標題');\n  const summary = getTagValue(block, '小節摘要');\n  const coreSentence = getTagValue(block, '小節核心句子');\n\n  return {\n    section_index: idx + 1,      // 自動產生序號 1, 2, 3...\n    subsection_title: title,\n    subsection_summary: summary,\n    subsection_core_sentence: coreSentence,\n    // 如果需要保留原始區塊內容供除錯，可取消下面註解\n    // raw_block: block \n  };\n});\n\n// 5. 回傳結果\n// 這裡維持你原本的結構：回傳「一筆」資料，裡面包含 sections 陣列\nreturn [\n  {\n    json: {\n      section_count: sections.length,\n      sections: sections,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        576
      ],
      "id": "049bacc3-e279-4ce2-b6e2-5eba9251e155",
      "name": "切割小節"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.write_prompt['text'] = item.json.text;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1056
      ],
      "id": "e673afb5-bc5a-4a04-a327-6363d28ba2e4",
      "name": "整合資料"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet bodies = \"\";\nfor (const item of $input.all()) {\n  bodies+=\"## \"\n  bodies+=item.json.write_prompt.subsection_title\n  bodies+=\"\\n\\n\"\n  bodies+=item.json.write_prompt.text\n  bodies+=\"\\n\\n ---- \\n\\n\"\n}\n\nreturn {\n  \"post_content\": bodies\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1056
      ],
      "id": "02628044-862a-406d-88dd-eb05cbc999c7",
      "name": "節錄文章內容"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.post_content }}",
        "messages": {
          "messageValues": [
            {
              "message": "精修使用者給的部落格內容。\n\n## 撰寫原則：\n- 不要過多降低字數，以維持前後文章流暢度為準。\n- 避免無謂的開場白與結尾語，**直接切入主題**\n- 使用**繁體中文**，採用台灣人日常可理解的用語，避免過度專業術語\n- 不應包含在不同段落中重複性的資訊\n- 維持markdown格式\n\n\n\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1296,
        944
      ],
      "id": "a292278b-13f9-4def-8ac3-f0b833d5b87d",
      "name": "生成文章標題1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd2cbfd8-7b0e-4b05-958b-0a4bad27fb08",
              "leftValue": "={{ $json.refs }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1376,
        736
      ],
      "id": "4db0ae11-0644-4d25-810c-2e0520d3b19f",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body[0] }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "# Role: 心理健康倡議者與身心平衡顧問\n\n請閱讀提供的[心理健康/身心健康/工作壓力新聞文本]，分為「事實摘要」與「身心影響評估」兩階段輸出。\n\n## 第一階段：去行銷化與事實摘要\n屏除保健品廣告與過度正向語言，僅針對已確認的心理健康數據、研究結論、政策資源進行濃縮（約 300-500 字）。\n\n* **核心發現 (What)：** 哪個心理健康議題有新研究或政策？\n* **證據強度 (How)：** 研究樣本多大？結論有多可信？\n* **影響族群 (Where/When)：** 哪個年齡層或職業群體最受影響？\n* **資源提供者 (Who)：** 哪個機構或政府部門提供支持？\n\n## 第二階段：身心影響評估\n以「18-35 歲工作壓力族群視角」批判性分析，**皆必須引用原文片段**作為佐證。\n\n### 1. 機會總體定調\n給出明確判斷（如：心理健康資源擴增 / 職場壓力惡化警示 / 正念趨勢普及 / 數位排毒需求上升），並簡述原因。\n\n### 2. 關鍵影響分析（舉證）\n挑選 3-5 個關鍵句，針對**「工作倦怠、焦慮管理、睡眠品質、人際關係壓力、數位健康」**等面向剖析：\n\n* **「（原文片段）」**\n    * **【涉及層面】：** （例如：過勞風險、焦慮觸發因子、休息品質...）\n    * **【行動建議】：** 現在最值得採取的身心健康行動？\n\n### 3. 盲點與反思\n心理健康報導中常被輕描淡寫的結構性問題（工時、薪資、職場文化）。\n\n## 撰寫規範\n- **語言：** 繁體中文"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1168,
        1344
      ],
      "id": "e57454e5-d691-46f4-98a8-3ce35c87fd01",
      "name": "生成快訊"
    },
    {
      "parameters": {
        "title": "=[心理快訊]{{ $json['標題'] }}",
        "additionalFields": {
          "content": "={{ $json.text }}\n\n![image]({{ $json.imgs[0] }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})",
          "status": "publish",
          "categories": [],
          "tags": "={{ [$json.id] }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        992,
        1792
      ],
      "id": "589d39b5-4426-473a-be62-eb91e8e1b931",
      "name": "Wordpress2",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        1264
      ],
      "id": "e1df8853-1db9-4f2a-8809-cfa6f80c60d6",
      "name": "Merge3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://news.lazyinwork.com/wp-json/wp/v2/tags",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=name",
              "value": "={{ $json[\"來源與時間\"].split(\" \")[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        1712
      ],
      "id": "5ecd60e9-62d3-4008-aa60-f3f7b59b3124",
      "name": "WP new tag",
      "alwaysOutputData": true,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://news.lazyinwork.com/wp-json/wp/v2/tags?search={{ $('Merge3').item.json[\"來源與時間\"].split(\" \")[0] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        1776
      ],
      "id": "f038ff36-701c-4a3d-92e6-e5294efb47d5",
      "name": "WP tags",
      "alwaysOutputData": false,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        1776
      ],
      "id": "1ba26f93-41ba-4f16-8fa9-cbfa6be935c4",
      "name": "Merge4"
    },
    {
      "parameters": {
        "title": "=[身心健康]{{ $json.title }}",
        "additionalFields": {
          "authorId": 3,
          "content": "={{ $json.text }}\n\n![image]({{ $json.refs[0].image }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})\n[{{ $json.refs[0].title }}, {{ $json.refs[0].source }}]({{$json.refs[0].link}})\n[{{ $json.refs[1].title }}, {{ $json.refs[1].source }}]({{$json.refs[1].link}})\n[{{ $json.refs[2].title }}, {{ $json.refs[2].source }}]({{$json.refs[2].link}})",
          "status": "publish",
          "categories": [],
          "tags": [
            176,
            180
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2448,
        1472
      ],
      "id": "e2793e70-0d66-47f8-bb7c-b404eaca7caf",
      "name": "Wordpress1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "iZOhiCDMBSaBHq16",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "title": "=[心理快訊]{{ $json['標題'] }}",
        "additionalFields": {
          "authorId": 3,
          "content": "={{ $json.text }}\n\n![image]({{ $json.imgs[0] }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})",
          "status": "publish",
          "categories": [],
          "tags": [
            176,
            180
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        736,
        1792
      ],
      "id": "06dc65dd-bf6e-4b65-8c5c-95594beca1e0",
      "name": "Wordpress3",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "iZOhiCDMBSaBHq16",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ecaa424-d4f5-431c-8df3-03313ad9fdd5",
              "name": "url",
              "value": "https://tw.news.yahoo.com/health/archive",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        720
      ],
      "id": "473dac52-72ba-4d33-b672-11f2419f4b4b",
      "name": "心理健康主題"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "科技主題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        []
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "科技主題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Research by Yahoo News'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "生成小節",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成文章標題",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成文章編輯規劃",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成文章標題1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成快訊",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "生成文章編輯規劃": {
      "main": [
        [
          {
            "node": "切割小節",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "生成小節",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rename": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "整合資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "生成文章標題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成小節": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "生成文章標題": {
      "main": [
        [
          {
            "node": "rename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "切割小節": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整合資料": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "節錄文章內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "節錄文章內容": {
      "main": [
        [
          {
            "node": "生成文章標題1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成文章標題1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "生成文章編輯規劃",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "生成快訊",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "WP new tag",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成快訊": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP new tag": {
      "main": [
        [
          {
            "node": "WP tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Wordpress3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP tags": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "心理健康主題": {
      "main": [
        [
          {
            "node": "Call 'Research by Yahoo News'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "888ef362-dbc4-41e3-9248-9f90f984e49c",
  "meta": {
    "instanceId": "eb32d7e43aad5aabbd687cb981a6b26a4cb158df1e21e6efdc0f6d0c03fa0543"
  },
  "id": "97307b02-6ca3-",
  "tags": []
}