flows/opportunity-life_quality.json
{
  "name": "機會 - 生活成本與品質",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2224,
        768
      ],
      "id": "7b938198-70c4-4c1d-a321-06367127e066",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "title": "=[生活品質] {{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.text }}\n\n![image]({{ $json.refs[0].image }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})\n[{{ $json.refs[0].title }}, {{ $json.refs[0].source }}]({{$json.refs[0].link}})\n[{{ $json.refs[1].title }}, {{ $json.refs[1].source }}]({{$json.refs[1].link}})\n[{{ $json.refs[2].title }}, {{ $json.refs[2].source }}]({{$json.refs[2].link}})",
          "status": "publish",
          "categories": [],
          "tags": [
            6
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2400,
        1216
      ],
      "id": "28b958bf-6d12-48af-aba4-0c5eeae7665d",
      "name": "Wordpress",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2064,
        944
      ],
      "id": "7f4cb813-3d06-4f01-b277-3bf18e71009b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XvU5udJwsszCQwon",
          "mode": "list",
          "cachedResultUrl": "/workflow/XvU5udJwsszCQwon",
          "cachedResultName": "Deep Research From yahoo trend"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "yahoo-news-url": "={{ $json.url }}"
          },
          "matchingColumns": [
            "yahoo-news-url"
          ],
          "schema": [
            {
              "id": "yahoo-news-url",
              "displayName": "yahoo-news-url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1664,
        720
      ],
      "id": "d9d46fef-48a1-477c-bc0f-90688b5d61ab",
      "name": "Call 'Research by Yahoo News'",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        1584
      ],
      "id": "46aca15e-9b92-4ea9-9ec1-83a25b54a9cd",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "9AqWOsJ0Nv0k5OkT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3b4bef2-c4b5-4cf6-b41e-4b026c6a2dad",
              "name": "title",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        1392
      ],
      "id": "f342c723-317f-4263-bfa8-aad04e3684ac",
      "name": "rename"
    },
    {
      "parameters": {
        "content": "https://lazyinwork.com/2026/01/14/%e7%84%a1%e5%81%8f%e8%a6%8b%e5%a0%b1%e5%b0%8e%e5%bd%88%e5%8a%be%e6%a1%88%e8%83%8c%e6%99%af%e3%80%81%e7%88%ad%e8%ad%b0%e3%80%81%e7%a8%8b%e5%ba%8f%e3%80%81%e5%bd%b1%e9%9f%bf%e5%8f%8a%e5%9c%8b%e9%9a%9b/#google_vignette",
        "height": 240,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        960
      ],
      "typeVersion": 1,
      "id": "17062226-04ce-4985-8feb-ba54330121f4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -592,
        1024
      ],
      "id": "4eff7792-f3e2-4d02-af50-6d5a8e4ef5bc",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=以下是參考內容：\n{{ $json.body[0] }}\n\n以下是次要參考內容：\n{{ $json.refs.toJsonString()}}",
        "messages": {
          "messageValues": [
            {
              "message": "我想針對這則生活成本/房市新聞寫一篇深度分析，給我五個小節標題規劃和編寫策略，聚焦在「對年輕租屋族與城市生活者的實際影響」，小節之間使用`----`來切割，用markdown格式直接輸出結果給我，不要有其餘內容。\n輸出範例：\n`<小節標題>` 小節標題....\n`<小節摘要>` 小節摘要....\n`<小節核心句子>` 小節核心句子....\n----\n`<小節標題>` 小節標題....\n`<小節摘要>` 小節摘要....\n`<小節核心句子>` 小節核心句子....\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -960,
        576
      ],
      "id": "0b73969d-8b7c-495e-88e4-a777690b6de5",
      "name": "生成文章編輯規劃"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sections",
        "options": {
          "destinationFieldName": "write_prompt"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -480,
        576
      ],
      "id": "97bc8987-0a7b-4e9c-9b59-4ce17331fd8a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2112,
        1184
      ],
      "id": "6500ed1f-0971-497d-bb16-5bff1c5f5e93",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        832
      ],
      "id": "f6890b51-4c86-46ff-b86b-f24df745c45e",
      "name": "Merge2"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "write_prompt.text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        848,
        1328
      ],
      "id": "0d7a4502-fc64-4693-9072-38c02f68cfb6",
      "name": "Summarize"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=以下是編寫大綱：\n{{ $json.write_prompt.toJsonString() }}\n以下是參考內容：\n{{ $json.body[0] }}\n{{ $json.refs.toJsonString() }}",
        "messages": {
          "messageValues": [
            {
              "message": "遵守媒體道德與社會責任原則，基於資料內容，針對生活成本與城市生活品質撰寫一篇深度報導。\n\n## 輸出格式：\n請以部落格文風，深入敘述生活成本趨勢，要求資訊真實、來源可信（無需附上網址）。\n\n## 撰寫原則：\n- 內容為字數約在300-500字之間的單一段落，不需分段和分章節\n- **禁止包含任何對話開場、系統說明、產製說明或其他非正文內容**\n- 避免無謂的開場白與結尾語，**直接切入主題**\n- 全文使用**繁體中文**，必要時可加入英文\n- 採用台灣人日常可理解的用語\n- **禁止提供網址**\n- 文章須具備**獨特觀點**\n- 以下觀點可強化深度（用敘述方式，維持單一段落）：\n  - **成本癥結點：** 哪些結構性因素推升了成本？\n  - **性價比窗口：** 現在哪裡、哪個選擇最划算？\n  - **生活優化建議：** 在有限預算內最大化生活品質的具體路徑\n\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -448,
        1024
      ],
      "id": "dd6ff117-39ee-4e6a-95ab-8c7c0af7c7b4",
      "name": "生成小節"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.concatenated_write_prompt_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "總結重點，給出一個最終的標題(25字內)\n\n## 撰寫原則：\n- 文章將被直接用作爲標題，**禁止包含任何對話開場、系統說明、產製說明或其他非正文內容**\n- 避免無謂的開場白與結尾語，**直接切入主題**\n- 使用**繁體中文**，採用台灣人日常可理解的用語，避免過度專業術語\n- 作為有吸引力的部落格標題，包含重點專有名詞，例如人事物和行為狀態\n\n\n\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1152,
        1408
      ],
      "id": "55c5eaa4-f744-4cd7-b73b-18b0305573e5",
      "name": "生成文章標題"
    },
    {
      "parameters": {
        "jsCode": "// 取得輸入文字\nconst raw = $json.text ?? $json.content ?? $json.data ?? '';\n\nif (!raw || typeof raw !== 'string') {\n  return [{ json: { error: 'No input text found.' } }];\n}\n\n// 1. 清理 Markdown 標記 (移除開頭的 ```markdown 和結尾的 ```)\n// 同時處理 \\n 的轉換 (視 n8n 上游資料來源而定，有時需要，有時不需要，這裡保留以防萬一)\nlet text = raw.replace(/\\\\n/g, '\\n'); \ntext = text.replace(/^```[a-zA-Z]*\\n?/, '').replace(/\\n?```$/, '').trim();\n\n// 2. 根據 \"----\" 進行切割\n// 使用 Regex 兼容前後可能有換行或空白的情況\nconst blocks = text\n  .split(/\\n\\s*-{4,}\\s*\\n/g)\n  .map(b => b.trim())\n  .filter(Boolean); // 過濾掉空字串\n\n// 3. 定義提取內容的 Helper 函數\nfunction getTagValue(block, tagName) {\n  // Regex 解釋：\n  // <標籤名稱> 接著任意空白 \\s* 接著擷取內容 (.*) 直到行尾\n  const regex = new RegExp(`<${tagName}>\\\\s*(.*)`);\n  const match = block.match(regex);\n  return match ? match[1].replace('`','').trim() : null;\n}\n\n// 4. 解析每一個區塊\nconst sections = blocks.map((block, idx) => {\n  // 提取各欄位\n  const title = getTagValue(block, '小節標題');\n  const summary = getTagValue(block, '小節摘要');\n  const coreSentence = getTagValue(block, '小節核心句子');\n\n  return {\n    section_index: idx + 1,      // 自動產生序號 1, 2, 3...\n    subsection_title: title,\n    subsection_summary: summary,\n    subsection_core_sentence: coreSentence,\n    // 如果需要保留原始區塊內容供除錯，可取消下面註解\n    // raw_block: block \n  };\n});\n\n// 5. 回傳結果\n// 這裡維持你原本的結構：回傳「一筆」資料，裡面包含 sections 陣列\nreturn [\n  {\n    json: {\n      section_count: sections.length,\n      sections: sections,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        576
      ],
      "id": "fd6918fc-b75b-4ffd-a95f-a90de64a3869",
      "name": "切割小節"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.write_prompt['text'] = item.json.text;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1056
      ],
      "id": "7470f708-612d-447f-aa37-5b7d27b7cf80",
      "name": "整合資料"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet bodies = \"\";\nfor (const item of $input.all()) {\n  bodies+=\"## \"\n  bodies+=item.json.write_prompt.subsection_title\n  bodies+=\"\\n\\n\"\n  bodies+=item.json.write_prompt.text\n  bodies+=\"\\n\\n ---- \\n\\n\"\n}\n\nreturn {\n  \"post_content\": bodies\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1056
      ],
      "id": "d8b35035-1df8-48cd-9a8c-9183ad103ff8",
      "name": "節錄文章內容"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.post_content }}",
        "messages": {
          "messageValues": [
            {
              "message": "精修使用者給的部落格內容。\n\n## 撰寫原則：\n- 不要過多降低字數，以維持前後文章流暢度為準。\n- 避免無謂的開場白與結尾語，**直接切入主題**\n- 使用**繁體中文**，採用台灣人日常可理解的用語，避免過度專業術語\n- 不應包含在不同段落中重複性的資訊\n- 維持markdown格式\n\n\n\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1296,
        944
      ],
      "id": "4b8a4f86-0b74-4024-a0a0-b59d19ee3ba7",
      "name": "生成文章標題1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd2cbfd8-7b0e-4b05-958b-0a4bad27fb08",
              "leftValue": "={{ $json.refs }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1376,
        736
      ],
      "id": "8c0802d7-cbb4-4f49-b45d-1caa35baa91a",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body[0] }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "# Role: 消費者行為分析師與城市生活顧問\n\n請閱讀提供的[生活成本/房市/消費新聞文本]，分為「事實摘要」與「生活影響評估」兩階段輸出。\n\n## 第一階段：去行銷化與事實摘要\n屏除房仲或品牌廣告話術，僅針對已確認的租屋、物價、交通、飲食成本進行濃縮（約 300-500 字）。\n\n* **核心數據 (What)：** 房價、租金、物價指數的具體數字？\n* **變動幅度 (How)：** 與上期相比漲跌幅度？\n* **地理範圍 (Where/When)：** 哪個城市、行政區？何時生效？\n* **影響族群 (Who)：** 哪個收入層或年齡層受影響最大？\n\n## 第二階段：生活影響評估\n以「22-35 歲租屋族與首購族視角」批判性分析，**皆必須引用原文片段**作為佐證。\n\n### 1. 機會總體定調\n給出明確判斷（如：租屋成本飆升警示 / 生活品質性價比窗口 / 交通基礎建設紅利 / 城市遷移機會），並簡述原因。\n\n### 2. 關鍵影響分析（舉證）\n挑選 3-5 個關鍵句，針對**「租金負擔、通勤成本、飲食選擇、生活品質指數、城市性價比」**等面向剖析：\n\n* **「（原文片段）」**\n    * **【涉及層面】：** （例如：薪租比惡化、替代城市機會、生活機能優化...）\n    * **【行動建議】：** 現在最值得考慮的生活決策？\n\n### 3. 盲點與反思\n報導未提及的替代選擇或隱性成本。\n\n## 撰寫規範\n- **語言：** 繁體中文"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1168,
        1344
      ],
      "id": "70983d0e-c232-4c28-a152-7d13e9975e07",
      "name": "生成快訊"
    },
    {
      "parameters": {
        "title": "=[生活成本快訊]{{ $json['標題'] }}",
        "additionalFields": {
          "content": "={{ $json.text }}\n\n![image]({{ $json.imgs[0] }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})",
          "status": "publish",
          "categories": [],
          "tags": "={{ [$json.id] }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        992,
        1792
      ],
      "id": "011d2533-b3bf-418d-b15d-876551d0cc0d",
      "name": "Wordpress2",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        1264
      ],
      "id": "b38a7945-8f63-465f-b09c-8b529b57c641",
      "name": "Merge3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://news.lazyinwork.com/wp-json/wp/v2/tags",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=name",
              "value": "={{ $json[\"來源與時間\"].split(\" \")[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        1712
      ],
      "id": "bc679a2b-003a-4605-b00d-9e73abc784c2",
      "name": "WP new tag",
      "alwaysOutputData": true,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://news.lazyinwork.com/wp-json/wp/v2/tags?search={{ $('Merge3').item.json[\"來源與時間\"].split(\" \")[0] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        1776
      ],
      "id": "a2a087fa-4d04-421a-8a2a-91b210e5520b",
      "name": "WP tags",
      "alwaysOutputData": false,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        1776
      ],
      "id": "a365a29c-8554-47a5-9a77-47ee425d23f0",
      "name": "Merge4"
    },
    {
      "parameters": {
        "title": "=[生活品質]{{ $json.title }}",
        "additionalFields": {
          "authorId": 3,
          "content": "={{ $json.text }}\n\n![image]({{ $json.refs[0].image }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})\n[{{ $json.refs[0].title }}, {{ $json.refs[0].source }}]({{$json.refs[0].link}})\n[{{ $json.refs[1].title }}, {{ $json.refs[1].source }}]({{$json.refs[1].link}})\n[{{ $json.refs[2].title }}, {{ $json.refs[2].source }}]({{$json.refs[2].link}})",
          "status": "publish",
          "categories": [],
          "tags": [
            176,
            180
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2448,
        1472
      ],
      "id": "3ec81b62-5414-4a20-ac5d-fca50413c69c",
      "name": "Wordpress1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "iZOhiCDMBSaBHq16",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "title": "=[生活成本快訊]{{ $json['標題'] }}",
        "additionalFields": {
          "authorId": 3,
          "content": "={{ $json.text }}\n\n![image]({{ $json.imgs[0] }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})",
          "status": "publish",
          "categories": [],
          "tags": [
            176,
            180
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        736,
        1792
      ],
      "id": "43be25a3-fdbd-4979-af09-df343f239e0f",
      "name": "Wordpress3",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "iZOhiCDMBSaBHq16",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ecaa424-d4f5-431c-8df3-03313ad9fdd5",
              "name": "url",
              "value": "https://tw.news.yahoo.com/real-estate/archive",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        720
      ],
      "id": "6e85e1a1-05fa-48b0-b40d-fda5b5af12f9",
      "name": "生活品質主題"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "科技主題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        []
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "科技主題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Research by Yahoo News'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "生成小節",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成文章標題",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成文章編輯規劃",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成文章標題1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成快訊",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "生成文章編輯規劃": {
      "main": [
        [
          {
            "node": "切割小節",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "生成小節",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rename": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "整合資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "生成文章標題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成小節": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "生成文章標題": {
      "main": [
        [
          {
            "node": "rename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "切割小節": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整合資料": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "節錄文章內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "節錄文章內容": {
      "main": [
        [
          {
            "node": "生成文章標題1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成文章標題1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "生成文章編輯規劃",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "生成快訊",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "WP new tag",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成快訊": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP new tag": {
      "main": [
        [
          {
            "node": "WP tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Wordpress3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP tags": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "生活品質主題": {
      "main": [
        [
          {
            "node": "Call 'Research by Yahoo News'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "9abea09a-b7fa-40a4-bb19-eac7c17edc04",
  "meta": {
    "instanceId": "eb32d7e43aad5aabbd687cb981a6b26a4cb158df1e21e6efdc0f6d0c03fa0543"
  },
  "id": "57112717-4f80-",
  "tags": []
}