flows/opportunity-learning.json
{
  "name": "機會 - 學習與技能升級",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2224,
        768
      ],
      "id": "d87b6a6c-ae8b-42ec-813c-a0be162275b4",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "title": "=[學習升級] {{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.text }}\n\n![image]({{ $json.refs[0].image }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})\n[{{ $json.refs[0].title }}, {{ $json.refs[0].source }}]({{$json.refs[0].link}})\n[{{ $json.refs[1].title }}, {{ $json.refs[1].source }}]({{$json.refs[1].link}})\n[{{ $json.refs[2].title }}, {{ $json.refs[2].source }}]({{$json.refs[2].link}})",
          "status": "publish",
          "categories": [],
          "tags": [
            6
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2400,
        1216
      ],
      "id": "6ab14135-25bc-4d87-a73e-a17b1e734f38",
      "name": "Wordpress",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2064,
        944
      ],
      "id": "7a51043d-e2dd-4454-bd7c-625cbaeda50c",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XvU5udJwsszCQwon",
          "mode": "list",
          "cachedResultUrl": "/workflow/XvU5udJwsszCQwon",
          "cachedResultName": "Deep Research From yahoo trend"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "yahoo-news-url": "={{ $json.url }}"
          },
          "matchingColumns": [
            "yahoo-news-url"
          ],
          "schema": [
            {
              "id": "yahoo-news-url",
              "displayName": "yahoo-news-url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1664,
        720
      ],
      "id": "8a6dc3c3-ff95-4024-9a48-ce74241cdb97",
      "name": "Call 'Research by Yahoo News'",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        1584
      ],
      "id": "b60f0caa-bbd7-43cc-99d1-b7db87be449b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "9AqWOsJ0Nv0k5OkT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3b4bef2-c4b5-4cf6-b41e-4b026c6a2dad",
              "name": "title",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        1392
      ],
      "id": "b370b29f-d6fb-49c2-af22-0eddc859e321",
      "name": "rename"
    },
    {
      "parameters": {
        "content": "https://lazyinwork.com/2026/01/14/%e7%84%a1%e5%81%8f%e8%a6%8b%e5%a0%b1%e5%b0%8e%e5%bd%88%e5%8a%be%e6%a1%88%e8%83%8c%e6%99%af%e3%80%81%e7%88%ad%e8%ad%b0%e3%80%81%e7%a8%8b%e5%ba%8f%e3%80%81%e5%bd%b1%e9%9f%bf%e5%8f%8a%e5%9c%8b%e9%9a%9b/#google_vignette",
        "height": 240,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        960
      ],
      "typeVersion": 1,
      "id": "d5739482-f572-43bf-ae34-36141a8918c1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -592,
        1024
      ],
      "id": "5c026baf-4f43-4100-bbcb-11927cf0bd32",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=以下是參考內容：\n{{ $json.body[0] }}\n\n以下是次要參考內容：\n{{ $json.refs.toJsonString()}}",
        "messages": {
          "messageValues": [
            {
              "message": "我想針對這則學習/技能新聞寫一篇深度分析，給我五個小節標題規劃和編寫策略，聚焦在「對年輕人的學習路徑與投資效益」，小節之間使用`----`來切割，用markdown格式直接輸出結果給我，不要有其餘內容。\n輸出範例：\n`<小節標題>` 小節標題....\n`<小節摘要>` 小節摘要....\n`<小節核心句子>` 小節核心句子....\n----\n`<小節標題>` 小節標題....\n`<小節摘要>` 小節摘要....\n`<小節核心句子>` 小節核心句子....\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -960,
        576
      ],
      "id": "dd3d1fea-c2f2-4302-a534-9a9fa55be343",
      "name": "生成文章編輯規劃"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sections",
        "options": {
          "destinationFieldName": "write_prompt"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -480,
        576
      ],
      "id": "a6d66e60-cff7-4c29-8965-2548c0b2631f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2112,
        1184
      ],
      "id": "7289bc4b-4697-406e-b549-bc2cb0b2b1fc",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        832
      ],
      "id": "c7548b9d-1ea2-46d1-8dc9-3e0edb630a8f",
      "name": "Merge2"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "write_prompt.text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        848,
        1328
      ],
      "id": "8f1973f6-cbda-4e1f-91eb-7396f9170ddd",
      "name": "Summarize"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=以下是編寫大綱：\n{{ $json.write_prompt.toJsonString() }}\n以下是參考內容：\n{{ $json.body[0] }}\n{{ $json.refs.toJsonString() }}",
        "messages": {
          "messageValues": [
            {
              "message": "遵守媒體道德與社會責任原則，基於資料內容，針對學習趨勢與技能升級撰寫一篇深度報導。\n\n## 輸出格式：\n請以部落格文風，深入敘述學習與技能趨勢，要求資訊真實、來源可信（無需附上網址）。\n\n## 撰寫原則：\n- 內容為字數約在300-500字之間的單一段落，不需分段和分章節\n- **禁止包含任何對話開場、系統說明、產製說明或其他非正文內容**\n- 避免無謂的開場白與結尾語，**直接切入主題**\n- 全文使用**繁體中文**，必要時可加入英文\n- 採用台灣人日常可理解的用語，避免過度專業術語\n- **禁止提供網址**\n- 文章須具備**獨特觀點**\n- 以下觀點可強化深度（用敘述方式，維持單一段落）：\n  - **技能需求癥結點：** 為何這個技能現在最重要？\n  - **學習投資報酬率：** 時間成本 vs 職涯回報\n  - **自學 vs 正規教育：** 哪條路更有效率？\n\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -448,
        1024
      ],
      "id": "006022a8-7c29-4c6f-872f-43209dd2bc70",
      "name": "生成小節"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.concatenated_write_prompt_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "總結重點，給出一個最終的標題(25字內)\n\n## 撰寫原則：\n- 文章將被直接用作爲標題，**禁止包含任何對話開場、系統說明、產製說明或其他非正文內容**\n- 避免無謂的開場白與結尾語，**直接切入主題**\n- 使用**繁體中文**，採用台灣人日常可理解的用語，避免過度專業術語\n- 作為有吸引力的部落格標題，包含重點專有名詞，例如人事物和行為狀態\n\n\n\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1152,
        1408
      ],
      "id": "00d19f7d-9c89-43a4-85c2-5adfd390d424",
      "name": "生成文章標題"
    },
    {
      "parameters": {
        "jsCode": "// 取得輸入文字\nconst raw = $json.text ?? $json.content ?? $json.data ?? '';\n\nif (!raw || typeof raw !== 'string') {\n  return [{ json: { error: 'No input text found.' } }];\n}\n\n// 1. 清理 Markdown 標記 (移除開頭的 ```markdown 和結尾的 ```)\n// 同時處理 \\n 的轉換 (視 n8n 上游資料來源而定，有時需要，有時不需要，這裡保留以防萬一)\nlet text = raw.replace(/\\\\n/g, '\\n'); \ntext = text.replace(/^```[a-zA-Z]*\\n?/, '').replace(/\\n?```$/, '').trim();\n\n// 2. 根據 \"----\" 進行切割\n// 使用 Regex 兼容前後可能有換行或空白的情況\nconst blocks = text\n  .split(/\\n\\s*-{4,}\\s*\\n/g)\n  .map(b => b.trim())\n  .filter(Boolean); // 過濾掉空字串\n\n// 3. 定義提取內容的 Helper 函數\nfunction getTagValue(block, tagName) {\n  // Regex 解釋：\n  // <標籤名稱> 接著任意空白 \\s* 接著擷取內容 (.*) 直到行尾\n  const regex = new RegExp(`<${tagName}>\\\\s*(.*)`);\n  const match = block.match(regex);\n  return match ? match[1].replace('`','').trim() : null;\n}\n\n// 4. 解析每一個區塊\nconst sections = blocks.map((block, idx) => {\n  // 提取各欄位\n  const title = getTagValue(block, '小節標題');\n  const summary = getTagValue(block, '小節摘要');\n  const coreSentence = getTagValue(block, '小節核心句子');\n\n  return {\n    section_index: idx + 1,      // 自動產生序號 1, 2, 3...\n    subsection_title: title,\n    subsection_summary: summary,\n    subsection_core_sentence: coreSentence,\n    // 如果需要保留原始區塊內容供除錯，可取消下面註解\n    // raw_block: block \n  };\n});\n\n// 5. 回傳結果\n// 這裡維持你原本的結構：回傳「一筆」資料，裡面包含 sections 陣列\nreturn [\n  {\n    json: {\n      section_count: sections.length,\n      sections: sections,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        576
      ],
      "id": "6ad9a82d-7b8e-4ea2-800e-3a72e2cb0425",
      "name": "切割小節"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.write_prompt['text'] = item.json.text;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1056
      ],
      "id": "007de3b6-eee4-4b54-b9f7-0b13b1744f36",
      "name": "整合資料"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet bodies = \"\";\nfor (const item of $input.all()) {\n  bodies+=\"## \"\n  bodies+=item.json.write_prompt.subsection_title\n  bodies+=\"\\n\\n\"\n  bodies+=item.json.write_prompt.text\n  bodies+=\"\\n\\n ---- \\n\\n\"\n}\n\nreturn {\n  \"post_content\": bodies\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1056
      ],
      "id": "c7fe285d-a56a-49cd-a86c-611174734309",
      "name": "節錄文章內容"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.post_content }}",
        "messages": {
          "messageValues": [
            {
              "message": "精修使用者給的部落格內容。\n\n## 撰寫原則：\n- 不要過多降低字數，以維持前後文章流暢度為準。\n- 避免無謂的開場白與結尾語，**直接切入主題**\n- 使用**繁體中文**，採用台灣人日常可理解的用語，避免過度專業術語\n- 不應包含在不同段落中重複性的資訊\n- 維持markdown格式\n\n\n\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1296,
        944
      ],
      "id": "bb1f343b-126b-4867-abf6-96947a3414a5",
      "name": "生成文章標題1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd2cbfd8-7b0e-4b05-958b-0a4bad27fb08",
              "leftValue": "={{ $json.refs }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1376,
        736
      ],
      "id": "41d79736-60be-4842-97bc-1b35e26f515b",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body[0] }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "# Role: 終身學習策略師與教育科技顧問\n\n請閱讀提供的[教育/技能/EdTech新聞文本]，分為「事實摘要」與「學習機會評估」兩階段輸出。\n\n## 第一階段：去行銷化與事實摘要\n屏除課程推銷話術，僅針對已確認的學習趨勢、技能需求、教育政策進行濃縮（約 300-500 字）。\n\n* **核心內容 (What)：** 什麼課程、技能、認證或教育政策？\n* **學習門檻 (How)：** 取得難度、費用、時間成本？\n* **市場需求 (Where/When)：** 哪些產業急需？何時是最佳學習時機？\n* **提供者 (Who)：** 哪家機構、平台或政府？\n\n## 第二階段：學習機會評估\n以「18-30 歲學習者視角」批判性分析，**皆必須引用原文片段**作為佐證。\n\n### 1. 機會總體定調\n給出明確判斷（如：黃金學習視窗 / 技能替代警報 / 高投資報酬率技能 / 過度炒作 / 免費資源紅利），並簡述原因。\n\n### 2. 關鍵影響分析（舉證）\n挑選 3-5 個關鍵句，針對**「技能市場需求、學習成本、認證價值、自學可能性、AI輔助學習」**等面向剖析：\n\n* **「（原文片段）」**\n    * **【涉及層面】：** （例如：AI技能缺口、語言學習優勢、跨域學習紅利...）\n    * **【行動建議】：** 現在最值得投資的學習路徑？\n\n### 3. 盲點與反思\n學習資訊中未提及的潛在陷阱或更好的替代方案。\n\n## 撰寫規範\n- **語言：** 繁體中文"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1168,
        1344
      ],
      "id": "8b6f0b1d-458c-4e92-8411-c4ac53c78bd1",
      "name": "生成快訊"
    },
    {
      "parameters": {
        "title": "=[技能快訊]{{ $json['標題'] }}",
        "additionalFields": {
          "content": "={{ $json.text }}\n\n![image]({{ $json.imgs[0] }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})",
          "status": "publish",
          "categories": [],
          "tags": "={{ [$json.id] }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        992,
        1792
      ],
      "id": "578dd90f-25a5-40ec-9e10-0e6e6f0a24f5",
      "name": "Wordpress2",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        1264
      ],
      "id": "e796d16b-7185-4b13-9dfa-64edab1d1b4f",
      "name": "Merge3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://news.lazyinwork.com/wp-json/wp/v2/tags",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=name",
              "value": "={{ $json[\"來源與時間\"].split(\" \")[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        1712
      ],
      "id": "20835b91-9f57-413c-a8ed-7b3f3012cde3",
      "name": "WP new tag",
      "alwaysOutputData": true,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://news.lazyinwork.com/wp-json/wp/v2/tags?search={{ $('Merge3').item.json[\"來源與時間\"].split(\" \")[0] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        1776
      ],
      "id": "721a29d8-56a7-471b-ace0-8c577cde46a1",
      "name": "WP tags",
      "alwaysOutputData": false,
      "credentials": {
        "wordpressApi": {
          "id": "R6MwDtN8ObJat9N4",
          "name": "political news lazyinwork"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        1776
      ],
      "id": "fa39ae5d-f887-4e43-97fb-86b629950a1b",
      "name": "Merge4"
    },
    {
      "parameters": {
        "title": "=[學習升級]{{ $json.title }}",
        "additionalFields": {
          "authorId": 3,
          "content": "={{ $json.text }}\n\n![image]({{ $json.refs[0].image }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})\n[{{ $json.refs[0].title }}, {{ $json.refs[0].source }}]({{$json.refs[0].link}})\n[{{ $json.refs[1].title }}, {{ $json.refs[1].source }}]({{$json.refs[1].link}})\n[{{ $json.refs[2].title }}, {{ $json.refs[2].source }}]({{$json.refs[2].link}})",
          "status": "publish",
          "categories": [],
          "tags": [
            176,
            180
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2448,
        1472
      ],
      "id": "aab4323c-41bc-47db-9cb0-62f22027bacc",
      "name": "Wordpress1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "iZOhiCDMBSaBHq16",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "title": "=[技能快訊]{{ $json['標題'] }}",
        "additionalFields": {
          "authorId": 3,
          "content": "={{ $json.text }}\n\n![image]({{ $json.imgs[0] }})\n\n### 參考閱讀\n[{{ $json['標題'] }},{{ $json['來源與時間'] }}]({{ $json['連結'] }})",
          "status": "publish",
          "categories": [],
          "tags": [
            176,
            180
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        736,
        1792
      ],
      "id": "d92bca5e-310f-4383-a4f3-453f52c7fc9e",
      "name": "Wordpress3",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "wordpressApi": {
          "id": "iZOhiCDMBSaBHq16",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ecaa424-d4f5-431c-8df3-03313ad9fdd5",
              "name": "url",
              "value": "https://tw.news.yahoo.com/education/archive",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        720
      ],
      "id": "b02abde8-63bc-416d-9815-dc3cd38f6e63",
      "name": "學習升級主題"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "科技主題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        []
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "科技主題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Research by Yahoo News'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "生成小節",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成文章標題",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成文章編輯規劃",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成文章標題1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "生成快訊",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "生成文章編輯規劃": {
      "main": [
        [
          {
            "node": "切割小節",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "生成小節",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rename": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "整合資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "生成文章標題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成小節": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "生成文章標題": {
      "main": [
        [
          {
            "node": "rename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "切割小節": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整合資料": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "節錄文章內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "節錄文章內容": {
      "main": [
        [
          {
            "node": "生成文章標題1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成文章標題1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "生成文章編輯規劃",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "生成快訊",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "WP new tag",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成快訊": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP new tag": {
      "main": [
        [
          {
            "node": "WP tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Wordpress3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP tags": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "學習升級主題": {
      "main": [
        [
          {
            "node": "Call 'Research by Yahoo News'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "cfaf295d-f4fc-4cdb-bf51-4b972b35ab5c",
  "meta": {
    "instanceId": "eb32d7e43aad5aabbd687cb981a6b26a4cb158df1e21e6efdc0f6d0c03fa0543"
  },
  "id": "ad4f8b78-8f61-",
  "tags": []
}